In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('RADataSet.csv')

In [3]:
data.head()

,Type_of_vehicle,Road_surface_type,Light_conditions,Weather_conditions,Accident_Severity
0,Automobile,Asphalt roads,Daylight,Normal,Low Probability
1,Public (> 45 seats),Asphalt roads,Daylight,Normal,Low Probability
2,Lorry (41?100Q),Asphalt roads,Daylight,Normal,High Probability
3,Public (> 45 seats),Earth roads,Darkness,Normal,Low Probability
4,NaN,Asphalt roads,Darkness,Normal,Low Probability

In [4]:
data.info()

data.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Type_of_vehicle     11366 non-null  object
 1   Road_surface_type   12144 non-null  object
 2   Light_conditions    12316 non-null  object
 3   Weather_conditions  12316 non-null  object
 4   Accident_Severity   12316 non-null  object
dtypes: object(5)
memory usage: 481.2+ KB

                    count unique              top   freq
Type_of_vehicle     11366     17       Automobile   3205
Road_surface_type   12144      5    Asphalt roads  11296
Light_conditions    12316      2         Daylight   8798
Weather_conditions  12316      9           Normal  10063
Accident_Severity   12316      2  Low Probability  10415

In [5]:
df=data.copy(deep=True)
df.head()

,Type_of_vehicle,Road_surface_type,Light_conditions,Weather_conditions,Accident_Severity
0,Automobile,Asphalt roads,Daylight,Normal,Low Probability
1,Public (> 45 seats),Asphalt roads,Daylight,Normal,Low Probability
2,Lorry (41?100Q),Asphalt roads,Daylight,Normal,High Probability
3,Public (> 45 seats),Earth roads,Darkness,Normal,Low Probability
4,NaN,Asphalt roads,Darkness,Normal,Low Probability

In [6]:
df.isnull().sum()

Type_of_vehicle       950
Road_surface_type     172
Light_conditions        0
Weather_conditions      0
Accident_Severity       0
dtype: int64

In [7]:
df.shape

(12316, 5)

In [8]:
df.size

61580

In [9]:
for i in df.columns:
    if df[i].dtypes== object:
        print(i)
        print(df[i].unique())
        print(df[i].nunique())
        print()

Type_of_vehicle
['Automobile' 'Public (> 45 seats)' 'Lorry (41?100Q)' nan
 'Public (13?45 seats)' 'Lorry (11?40Q)' 'Long lorry' 'Public (12 seats)'
 'Taxi' 'Pick up upto 10Q' 'Stationwagen' 'Ridden horse' 'Other' 'Bajaj'
 'Turbo' 'Motorcycle' 'Special vehicle' 'Bicycle']
17

Road_surface_type
['Asphalt roads' 'Earth roads' nan 'Asphalt roads with some distress'
 'Gravel roads' 'Other']
5

Light_conditions
['Daylight' 'Darkness']
2

Weather_conditions
['Normal' 'Raining' 'Raining and Windy' 'Cloudy' 'Other' 'Windy' 'Snow'
 'Unknown' 'Fog or mist']
9

Accident_Severity
['Low Probability' 'High Probability']
2

In [10]:
df.head()

,Type_of_vehicle,Road_surface_type,Light_conditions,Weather_conditions,Accident_Severity
0,Automobile,Asphalt roads,Daylight,Normal,Low Probability
1,Public (> 45 seats),Asphalt roads,Daylight,Normal,Low Probability
2,Lorry (41?100Q),Asphalt roads,Daylight,Normal,High Probability
3,Public (> 45 seats),Earth roads,Darkness,Normal,Low Probability
4,NaN,Asphalt roads,Darkness,Normal,Low Probability

In [11]:
df['Accident_Severity'].value_counts()

Accident_Severity
Low Probability     10415
High Probability     1901
Name: count, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder

l = LabelEncoder()
for col in df.columns:
    if df[col].dtype == object:
        df[col] = l.fit_transform(df[col])

In [13]:
df.head()

,Type_of_vehicle,Road_surface_type,Light_conditions,Weather_conditions,Accident_Severity
0,0,0,1,2,1
1,11,0,1,2,1
2,5,0,1,2,0
3,11,2,0,2,1
4,17,0,0,2,1

In [14]:
df['Accident_Severity'].value_counts()

Accident_Severity
1    10415
0     1901
Name: count, dtype: int64

In [15]:
x=df.drop('Accident_Severity',axis=1)
y=df['Accident_Severity']

In [16]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.30)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, recall_score, f1_score, precision_score

#Define classifiers
classifiers = {
     'Random Forest': RandomForestClassifier(),
     'SVM': SVC(),
     'KNN': KNeighborsClassifier(),
     'Decision Tree': DecisionTreeClassifier(),
     'Naive Bayes': GaussianNB()
 }

#Train and evaluate each classifier
for clf_name, clf in classifiers.items():
    print('------')
    print(f'{clf_name} Classifier:')
    clf.fit(xtrain, ytrain)
    ypred = clf.predict(xtest)
    print('accuracy :', round(accuracy_score(ytest, ypred), 2))
    print('confusion matrix :', confusion_matrix(ytest, ypred))
    print('classification report:', classification_report(ytest, ypred))
    print('accuracy :', round(accuracy_score(ytest, ypred), 2))
    print('precision :', round(precision_score(ytest, ypred, average='weighted'), 2))
    print('recall :', round(recall_score(ytest, ypred, average='weighted'), 2))
    print('f1 :', round(f1_score(ytest, ypred, average='weighted'), 2))
    print()

------
Random Forest Classifier:
accuracy : 0.85
confusion matrix : [[   4  551]
 [  13 3127]]
classification report:               precision    recall  f1-score   support

           0       0.24      0.01      0.01       555
           1       0.85      1.00      0.92      3140

    accuracy                           0.85      3695
   macro avg       0.54      0.50      0.47      3695
weighted avg       0.76      0.85      0.78      3695

accuracy : 0.85
precision : 0.76
recall : 0.85
f1 : 0.78

------
SVM Classifier:
accuracy : 0.85
confusion matrix : [[   0  555]
 [   0 3140]]
classification report:               precision    recall  f1-score   support

           0       0.00      0.00      0.00       555
           1       0.85      1.00      0.92      3140

    accuracy                           0.85      3695
   macro avg       0.42      0.50      0.46      3695
weighted avg       0.72      0.85      0.78      3695

accuracy : 0.85
precision : 0.72
recall : 0.85
f1 : 0.78

------
KNN Classifier:
accuracy : 0.83
confusion matrix : [[  15  540]
 [  79 3061]]
classification report:               precision    recall  f1-score   support

           0       0.16      0.03      0.05       555
           1       0.85      0.97      0.91      3140

    accuracy                           0.83      3695
   macro avg       0.50      0.50      0.48      3695
weighted avg       0.75      0.83      0.78      3695

accuracy : 0.83
precision : 0.75
recall : 0.83
f1 : 0.78

------
Decision Tree Classifier:
accuracy : 0.84
confusion matrix : [[   7  548]
 [  25 3115]]
classification report:               precision    recall  f1-score   support

           0       0.22      0.01      0.02       555
           1       0.85      0.99      0.92      3140

    accuracy                           0.84      3695
   macro avg       0.53      0.50      0.47      3695
weighted avg       0.76      0.84      0.78      3695

accuracy : 0.84
precision : 0.76
recall : 0.84
f1 : 0.78

------
Naive Bayes Classifier:
accuracy : 0.85
confusion matrix : [[   0  555]
 [   0 3140]]
classification report:               precision    recall  f1-score   support

           0       0.00      0.00      0.00       555
           1       0.85      1.00      0.92      3140

    accuracy                           0.85      3695
   macro avg       0.42      0.50      0.46      3695
weighted avg       0.72      0.85      0.78      3695

accuracy : 0.85
precision : 0.72
recall : 0.85
f1 : 0.78

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30,)
rf = RandomForestClassifier(criterion='entropy', n_estimators=100, random_state=42)
rf.fit(xtrain, ytrain)
ypred = rf.predict(xtest)
print('accuracy :', round(accuracy_score(ytest, ypred), 2))

accuracy : 0.84

In [20]:
import pickle
filename='test.pkl'
pickle.dump(rf,open(filename,'wb'))

In [21]:
model = pickle.load(open(filename,'rb'))

In [22]:
model.predict([[11,0,0,7]])

array([1])